@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

body {
  font-family: $font-family-base;
}

h1 {
  font-family: $h1-font-family;
}

#contacto a {
  color: white;
  text-decoration: none;
}