//COLORES

$primary:       #430A5D;
$secondary:     #5F374B;
$success:       #430A5D;
$info:          #8C6A5D;
$light:         #EEE4B1;
$dark:          #8C6A5D;

//TIPOGRAFIAS
$font-family-base: 'Truculenta', sans-serif;
$h1-font-family: 'Oswald', sans-serif;

// ESPACIADOS
$thumbnail-padding: 0;